<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">


   <img src="https://avatars.githubusercontent.com/u/61023862?s=400&u=1bdca231ff6a5891381f89de38b70f93fcd08870&v=4" alt=" ">

   <h4>Carlos Eduardo de Carvalho</h4>

   <p>Professor na Etec de Guaianases</p>
   <p class = "teste">Curso de Desenvolvimento de Sistema e Médio Técnico</p>

   <a href="mailto:carlos.carvalho47@etec.sp.gov.br">carlos.carvalho47@etec.sp.gov.br</a>


</ion-content>
